[2017-10-16 11:28] giovannicimolin opened #1 "No python 3?"
I'm trying to use your sdk on python 3 and I'm getting this error:

[code]

[2017-10-16 13:06] stevemart commented on #1
What are the versions of boto3 and botocore? Looking at the source code for botocore, I don't see any reference to httplib in many releases https://github.com/boto/botocore/blob/master/botocore/credentials.py

Can you run a `pip freeze | grep boto` from your virtualenv?

[2017-10-16 13:11] giovannicimolin commented on #1
This is the output:
`boto3==1.4.7
botocore==1.7.6
`

[2017-10-16 13:29] stevemart commented on #1
That's weird... there's no httplib reference in credentials.py in that version either: https://github.com/boto/botocore/blob/1.7.6/botocore/credentials.py#L27

I tried things with a new virtualenv (that used python 3.5 instead of 3.6 (in the bug report) from scratch and it seems OK to me.

[code]

The last error is expected since i try to import `httplib` (a python2 lib) directly, but you can see

[2017-10-16 13:37] giovannicimolin commented on #1
I've managed to install it, it was a problem with my enviroment manager.
Using your steps, I could import boto3 with no problems.

[2017-10-16 14:56] giovannicimolin commented on #1
The problem with **ibm-cos-sdk** still persists, but I found the problem to be on **ibm-cos-sdk-python-core**, that has a reference to a library that have been renamed on python3.
There's even an open issue in that repo (#1).

My fix was to replace line 27 of credentials.py on my local installation directory from:
`import httplib`
To:
`import http.client as httplib`

[2017-10-16 15:02] stevemart commented on #1
OOps, sorry about the close and re-open. Yes, you are totally right. I see https://github.com/IBM/ibm-cos-sdk-python-core/issues/1 now.

[2017-10-29 22:07] zhuojc commented on #1
This issue is being tracked internally and will be resolved in the next patch release.

[2017-12-04 17:35] wbhuberIBM commented on #1
@giovannicimolin @stevemart - Python 3 is now supported since 1.0.2 version.

[2017-12-04 17:35] #1 closed

[2018-01-13 16:51] entheos37 opened #2 "ibm_boto3 list_objects not working in the local terminal"
Hi @wbhuberIBM

ibm_boto3 list_objects working in the IBM Data Platform Jupyter Notebook however,

ibm_boto3 list_objects not working in the local terminal.

#example code
`client.list_objects(Bucket=bucket)`

I was able to print out the client object using `print(client)`

But when I try the list_objects then `ConnectionRefusedError(61, 'Connection refused'))` happened.

![2018-01-14 1 43 50](htt

[2018-01-15 11:15] cpcunningham commented on #2
Hi  entheos37

First try to confirm it on the server machine by issuing telnet to that port:
telnet <server> <port>
If it is listening, it is able to respond.

Then can you give an example of the code that creates a connection to IBM COS

[2018-01-16 00:43] entheos37 commented on #2
Hi cpcunningham
I got the answer from https://stackoverflow.com/questions/48247477/ibm-boto3-connection-refused-error/48270881#48270881

I change the endpoint_url from https://s3-api.us-geo.objectstorage.service.networklayer.com which is the private endpoint to `https://s3-api.us-geo.objectstorage.softlayer.net` which is the right public endpoint url.

Much appreciated!

[2018-01-16 00:44] #2 closed

[2018-02-02 10:36] gilv opened #3 "ibm_boto3 is not exists in Conda repositories"
Tried to install ibm_boto3 with conda.

Got:

PackagesNotFoundError: The following packages are not available from current channels:

  - ibm_boto3

Current channels:

  - https://repo.continuum.io/pkgs/main/linux-64
  - https://repo.continuum.io/pkgs/main/noarch
  - https://repo.continuum.io/pkgs/free/linux-64
  - https://repo.continuum.io/pkgs/free/noarch
  - https://repo.continuum.io/pkgs/r/lin

[2018-02-02 11:34] cpcunningham commented on #3
Hi @gilv -
We need some more detail to be able to assist you.
Can you detail the steps you are taking and any error details.

[2018-02-02 14:07] cpcunningham commented on #3
Hi @gilv - The boto3  you can instlall is the amazon version.
The ibm version of the sdks are not in the conda archives.
Use pip to instlall
 pip  install ibm-cos-sdk
You will still be able to see the instlaled packages via conda
conda list

[2018-02-02 17:00] gilv commented on #3
I am using Conda to install packages with Conda. I understand how to install with pip, but Conda is separate project and it creates environment by itself.
Since conda can perfectly install boto3, it suppose also perfectly install ibm_boto3.
All you need is to update Conda repositories

[2018-02-12 16:28] cpcunningham commented on #3
@gilv  on Conda - We will refer this to the Offerings Manager and will let you know the outcome..

[2018-02-21 19:30] guicaro opened #4 "Is this a true fork of boto3?"
Just curious how we get security or performance updates from [boto3](https://github.com/boto/boto3) if this repo is not setup as a **true Github fork**

Are we manually applying new features and updates to this repo?

[2018-03-07 15:23] wilczogon opened #5 "No ibm_boto3 module while installing package in bluemix with python 3.6.2"
I was trying to install ibm-cos-sdk on bluemix with python 3.6.2. It appeared that only available version there is 1.4.5 and I received error that there is no module ibm_boto3.

When I changed to python 3.6.1 it started working.

[2018-03-07 15:28] cpcunningham commented on #5
We have tested the sdk on a number of different versions of python.
I will run regression tests using python 3.6.2 and check the results.

[2018-03-07 16:39] cpcunningham commented on #5
I have run the regression tests without issue using python 3.6.2.
Can you  give details of how you instaledl ibm_boto on 3.6.2 and what app you are running.
Also the output of pip freeze would ,help..

[2018-03-07 16:42] wilczogon commented on #5
I mean the environment on bluemix - not normal environment. Probably the
problem is not in python version itself but with bluemix configuration for
python version = 3.6.2

07.03.2018 16:28 "cpcunningham" <notifications@github.com> napisał(a):

[2018-03-14 18:32] cpcunningham commented on #4
We are applying selected updates...

[2018-03-15 03:48] guicaro commented on #4
😢

[2018-03-15 09:25] smcgrath-IBM commented on #3
There is no current plan to support the Conda repositories, but could be included in future..

[2018-03-15 09:25] #3 closed

[2018-03-15 09:25] #4 closed

[2018-03-15 09:34] smcgrath-IBM commented on #5
A new issue has been created for this under object-storage
https://github.ibm.com/objectstore/objectstorage-issues/issues/278

[2018-03-15 09:34] #5 closed

[2018-03-26 12:48] maria-oleszkiewicz opened #6 "ERROR - Background refresh thread has negative value with remaining seconds"
I am using ibm_cos_sdk in code. Today it hanged with such error:
[code]

I think that may be problem during connection refresh caused by ibm_botocore.

Please investigate this issue.

[2018-03-27 15:36] cpcunningham commented on #6
Hi Maria,
Having looked at the log output it appears you are using an earlier version of the sdk
In verson 2.0.1 (IAM Resiliency Support) the token fetching was made more robust.

Can you update to latest sdk versoion or wait a couple of days we are releasing sdk version 2.1.0
which will also contain
	IBM json credntials file
	Configurable call retries
	Configurable Verify SSL flag for IAM Token f

[2018-04-17 08:30] smcgrath-IBM commented on #6
@maria-oleszkiewicz are you still having this issue with the latest SDK?

[2018-04-20 11:14] #6 closed

[2018-05-07 18:58] echin20 opened #7 "Disable cert verification"
I was wondering if there was a way to disable cert verification?

InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.org/en/latest/security.html

[2018-05-08 08:52] smcgrath-IBM commented on #7
Hi @echin20 I'll look into it and get back to you.

[2018-05-09 08:25] smcgrath-IBM commented on #7
Hi @echin20 you can set verify=false on the api call as below;

def test_cos_sdk_missing_service_instance_id_put_bucket():
    ctx = targets.main
    client = boto3.client('s3',
                          ibm_api_key_id=ctx.ibm_api_key_id,
                          ibm_service_instance_id=None, # Missing
                          ibm_auth_endpoint=ctx.ibm_auth_endpoint,
                          en

[2018-05-09 10:25] echin20 commented on #7
@smcgrath-IBM, I had the verify=False set.

I end up putting this in my code to ignore the warnings rather then setting a environment variable.

import warnings
warnings.filterwarnings("ignore")

Thanks for looking into this!

[2018-05-10 18:16] #7 closed

[2018-06-15 10:06] vegoutha opened #8 "Failure during the download bucket content using IBM BOTO3"
We are trying to download the bucket content using IBM BOTO3 and it fails with below error message:
FileNotFoundError: [Errno 2] No such file or directory: '/opt/ibm/scoring/python/workdir/batch_input_abe514e7e26c7c8c137e80162fdfdfe8/test_/.2f6C9b89'

Here is the detailed exception stack trace:
[code]

Installation of IBM BOTO3 using the below command:
[code]

**Code Snippet**:
amz = ibm_boto3.res

[2018-06-15 15:44] Patrick-Browne commented on #8
@vegoutha can you confirm that the path exists and that you have sufficient permissions prior to calling download_file. I can only reproduce this error by providing an invalid path.

[2018-06-18 06:15] vegoutha commented on #8
@Patrick-Browne This is the same code snippet used to download the content during every attempt. If it issue with Permission (or) Path, it should always fail with same error. This issue is observed intermittently.
Based on error message, I see it is failing to find some temporary file (FileNotFoundError: [Errno 2] No such file or directory: '/opt/ibm/scoring/python/workdir/batch_input_abe514e7e26c

[2018-06-18 08:45] Patrick-Browne commented on #8
@vegoutha thanks for the update. A couple of questions, how frequently does the error occur ? Do you download to the same path every time ? Does the code download multiple files for each run or a single file per run ?The SDK will not create the test_ directory during the download_file operation. Can you ensure that the full path exists prior the to calling download_file ?

[2018-06-19 09:31] vegoutha commented on #8
@Patrick-Browne This issue was reported couple of times during internal testing.

Download Path is varying for each download request, but base path remains the same.
`Base Path`: /opt/ibm/scoring/python/workdir/
`Download Path`: `Base Path` + `batch_input_<requestID>`

This code will download all the files in the COS bucket( Both Single (or) Multiple files)

I am not sure how this `test_` director

[2018-06-25 11:05] Patrick-Browne commented on #8
@vegoutha were you able to follow up on were 'test_' node in the download path was coming from and ensure that the full path exists before starting the download ?

[2018-06-27 21:35] mtn opened #9 "Broken link to API reference"
The link to the [API reference](https://console.bluemix.net/docs/services/cloud-object-storage/api-reference/about-compatibility-api.html). Looking around for a few seconds I didn't find what should replace it, so maybe it should be removed. 🎈

[2018-07-05 17:48] hegdehr commented on #9
@wbhuberIBM Could you assign this to Nick Lange on the documentation team please? Thanks!

[2018-07-09 11:04] barry-hueston-IBM commented on #8
Hi @vegoutha if there are no further updates, are we okay to close this ticket?

Thanks
Barry

[2018-07-11 07:07] vanessawrites commented on #9
Link is in the readme.md
Link should be https://console.bluemix.net/docs/services/cloud-object-storage/api-reference/about-api.html

I need permissions to this branch to make the update

[2018-07-11 17:48] wbhuberIBM commented on #9
Tracking here: CSAFE-41308

[2018-07-13 07:28] rolweber opened #10 "Changelog: broken link and suggested improvement"
1. README.md has a broken link to CHANGELOG.md instead of CHANGELOG.rst
2. CHANGELOG.rst should list the most recent version first instead of last

[2018-08-01 14:26] vijuhullur commented on #9
@vanessawrites - can you make the changes in stage env, once its in stage I can push it out to prod - thanks

[2018-08-01 14:45] vijuhullur commented on #9
@wbhuberIBM - Would you be able to make this change in readme file in ibm-cos-sdk-python repo?

[2018-08-01 16:28] zhuojc commented on #9
@vijuhullur yes we're releasing the fix in the upcoming patch.

[2018-08-03 16:32] ssiegel95 opened #11 "Problem retrieving objects with bucket name containing a dash `-`"
Using client version 2.0.0:

If we use a bucket name with a dash `-` in it, we can view the bucket and objects within it using the web front end.

[code]

However, using the boto3 python client, a call to list_buckets shows it present but a call to list_objects results in following:

[code]

[2018-08-03 18:51] ssiegel95 commented on #11
I don't think this has anything to do with dashes afterall. Something else is going on, not sure yet what.

[2018-08-03 18:51] #11 closed

[2018-08-06 08:25] paul-carron commented on #9
@mtn this was fixed in release 2.1.3. Please close the issue.

[2018-08-06 08:25] paul-carron commented on #10
@rolweber this was fixed in release 2.1.3. Please close the issue.

[2018-08-06 09:18] rolweber commented on #10
Thanks!

[2018-08-06 09:18] #10 closed

[2018-08-06 11:06] #9 closed

[2018-08-08 06:46] srikrbha commented on #8
@Patrick-Browne this is the code we follow to download the files:
[code]
Here ```download_path``` is:
```/opt/ibm/scoring/python/workdir/batch_input_abe514e7e26c7c8c137e80162fdfdfe8```

I believe `test_/` might get added here from `object.key`.

[2018-08-08 07:18] srikrbha opened #12 "Failure during the download bucket content using IBM BOTO3"
This issue is a continuation of issue #8 .
We are trying to download the bucket content using IBM BOTO3 and it fails with below error message:
FileNotFoundError: [Errno 2] No such file or directory: '/opt/ibm/scoring/python/workdir/batch_input_abe514e7e26c7c8c137e80162fdfdfe8/test_/.2f6C9b89'

This is the stacktrace that we get:
[code]

This is the code we follow to download the files:

[code]

He

[2018-08-09 06:34] paul-carron commented on #12
@srikrbha could you show me how you're declaring bucket_name and download_path?

[2018-08-14 05:17] srikrbha commented on #12
@paul-carron Sorry for the late reply.
`download_path` is being declared this way:
```download_path = base_download_path + "/batch_input_" + request_id```
Before using the `download_path` though, we are executing the command:
```os.makedirs(download_path)```
`bucket_name` gets declared this way:
```bucket_name = aws_connector_params['bucket_name']```

[2018-08-14 07:46] paul-carron commented on #12
Thanks @srikrbha.

I see in issue #8 this happened intermittently. Does it happen consistently with some keys and not happen at all with others? E.g. does it happen every time with the above key but not with other keys? If so, can you confirm that there is no 'test' folder under that keey in the bucket?

[2018-08-14 08:59] srikrbha commented on #12
@paul-carron
Here is a screenshot of the bucket:
<img width="435" alt="screen shot 2018-08-14 at 2 06 45 pm" src="https://user-images.githubusercontent.com/41949442/44081047-526bcfe6-9f9d-11e8-8d41-562494497dc2.png">

This happens intermittently (I am yet to verify if it is for the same key).
Also our code goes like this:
[code]

[2018-08-14 15:13] XD-DENG opened #13 "Does IBM COS add partial objects?"
Hi there, not sure if this is the correct place to raise this question (if not, please ignore and close).

If I try to upload a big file to IBM COS, before the uploading/transferring is 100% complete, will we see this file as a PARTIAL object in the bucket? Or we will ONLY be able to see/list it when it's 100% uploaded to the bucket?

For Amazon S3, it's claimed that `Amazon S3 never adds partial

[2018-08-15 03:01] #13 closed

[2018-09-04 15:11] paul-carron commented on #12
@srikrbha out of curiosity, what happens if you create the _test folder in your download_path and run your script?

[2018-09-05 03:40] srikrbha commented on #12
Thanks.Will try it out. The directory is being generated automatically and the issue is intermittent, also this doesn't seem to have happened for sometime. I will close the issue for now. Will reopen it if this happens once again.

[2018-09-05 03:40] #12 closed

[2018-10-05 07:46] kvsnoufal commented on #11
I'm facing the same issue..How did you resolve this?

[2018-10-11 06:13] gilv opened #14 "How to create Session with api key?"
I need to create Session with API Key.

    iam_api_key = 'MY KEY'
    iam_serice_endpoint = 'https://s3-api.us-geo.objectstorage.softlayer.net'
    iam_service_id = 'ServiceId-123'

    token_manager = DefaultTokenManager(api_key_id=iam_api_key)
    session = ibm_boto3.session.Session(token_manager=token_manager, ibm_service_instance_id=iam_service_id)

It doesn't work, getting

    File "/usr/lo

[2018-10-11 09:12] gilv commented on #14
@paul-carron can you please check this? thanks

[2018-10-11 09:16] paul-carron commented on #14
Currently looking into it. Will update shortly.

[2018-10-11 09:19] gilv commented on #14
@paul-carron thanks. I also tried without TokenManager and provide api key directly to ibm_boto3.session.Session(...)
Got the same exception

[2018-10-11 10:07] #14 closed

[2018-10-19 12:04] jamesbeltonIBM opened #15 "ACCESS DENIED error"
I'm having real problems getting the simple 'list buckets' script to work using IAM. All I get is an 'ACCESS DENIED' error.

The code I am using is as follows - am running from the command line:

[code]

If I change the cos= part of the code to:

[code]

it works fine and it picks up my creds from my aws CLI installation. It's just when I try to use IAM creds I get access denied.

[2018-10-19 12:17] paul-carron commented on #15
Your `SERVICE_INSTANCE_ID` looks a bit strange. Can you please check its correct?

If you take the below example of a credentials blob, you should use `65c5b3g2-7db5-4251-93a1-a7c33486d5e9` from the `resource_instance_id` as your `SERVICE_INSTANCE_ID`.

[code]

[2018-10-19 12:52] jamesbeltonIBM commented on #15
cheers @paul-carron - that works. I was pulling the similar value from iam_serviceid_crn in error, possibly because of the variable name it is given in the IBM Cloud docs. I might raise a change on that :)
Thanks again!

[2018-10-19 12:52] #15 closed

[2018-10-19 17:12] rajahaidarIBM opened #16 "requests is not included in requirements, had to install it manually"

[2018-10-22 10:47] cpcunningham commented on #16
Hi @rajahaidarIBM, the sdk still uses the vendored version of the requests package.
Did you get an error when you tried to run your application....

[2018-10-22 17:48] thomassuedbroecker opened #17 "I cannot use the ibm_boto3 on my machine"
I created a slack entry.

https://stackoverflow.com/questions/52935121/how-to-use-the-ibm-boto3-in-python

[2018-10-23 06:48] thetime1102 opened #19 "ibm_boto3 cannot work along with pyinstaller?"
Does there anyone use pyinstaller to generate execution file for ibm_boto3 ?
I always got error during "The 's3' resource does not exist."
please help me.

[2018-10-24 07:46] paul-carron commented on #19
@thetime1102 could you provide more information? If you could provide a full error trace, the command you're running and anything else that might be relevant.

Also, does it work before you package it with pyinstaller?

[2018-10-24 12:18] thetime1102 commented on #19
@paul-carron

To reproduce:

1. Install library
[code]
1. Create test_cos.py:
[code]

1. Run normally, it works:

[code]
1. Run pyinstaller to generate execution test_cos.exe file:
[code]
1. Run test_cos.exe, it fails
[code]
1. Bellow is trace back
[code]
1. Platform info:
[code]

[2018-10-25 06:54] paul-carron commented on #19
The issue seems to be with pyinstaller rather than the cos-sdk.

Please try removing the docs and the tests folders from ibm-cos-sdk-python-core and ibm-cos-sdk-python before packaging. I believe these files should not be packaged.

Failing that, you may need to consult the pyinstalled documentation.

[2018-10-25 07:04] thetime1102 commented on #19
@paul-carron
i asked pyinstaller team.
can you link to that issue?
https://github.com/pyinstaller/pyinstaller/issues/3822

[2018-10-25 15:09] hegdehr commented on #17
Issue closed as the user was satisfied with the workaround and we are internally tracking through JIRA ticket

[2018-10-25 15:09] #17 closed

[2018-10-25 15:10] hegdehr commented on #16
Duplicate issue. The reference provided has resolved the issue for users. There is an internal JIRA ticket to track the issue.

[2018-10-25 15:10] #16 closed

[2018-10-26 05:50] paul-carron commented on #19
Did you try try removing the docs and the tests folders from ibm-cos-sdk-python-core and ibm-cos-sdk-python before packaging?

[2018-10-26 06:34] thetime1102 commented on #19
@paul-carron

if removed the docs and the tests folders before packaging, then run python test_cos.py => it's failed

Traceback (most recent call last):
  File "test.py", line 1, in <module>
    import ibm_boto3
  File "C:\Users\user_name\AppData\Local\Programs\Python\Python36\lib\site-packages\ibm_boto3\__init__.py", line 16, in <module>
    from ibm_boto3.session import Session
  File "C:\Users\

[2018-10-29 08:33] paul-carron commented on #19
This seems to be common with PyInstaller.

You could try passing the below as a hook:

[code]

1. Create the hook file(hook-ibm_botocore.py)
2. Run this command to package the application pyinstaller -F --additional-hooks-dir=. --hidden-import=ibm_botocore test_cos.py
3. Run the application

Here's some info that may help:
https://pythonhosted.org/PyInstaller/hooks.html
https://github.com/pyinstal

[2018-10-31 07:49] paul-carron commented on #19
@thetime1102 Did the above information help you resolve your issue?

[2018-11-01 00:55] thetime1102 commented on #19
I tried but can not packaging.

To reproduce:
1. create hook-ibm_botocore.py file
1. add hook-ibm_botocore.py file to C:\Users\user_name\AppData\Local\Programs\Python\Python36\Lib\site-packages\PyInstaller\hooks\
1. run command to package the application
[code]
1. when packaging i got a error like bellow
[code]

[2018-11-01 15:30] cpcunningham commented on #19
Create hook file --- hook-ibm_boto3.py (paste contents between lines)
----------------------------------------------------------------------------------
from PyInstaller.utils.hooks import collect_data_files, collect_submodules

hiddenimports = (
    collect_submodules('ibm_boto3.s3'))

datas = collect_data_files('ibm_boto3')
------------------------------------------------------------------------

[2018-11-01 15:36] cpcunningham commented on #19
I have tested the above and it works,
We will not be able to provide any more help on this as pyinstaller is not supported by ibmcos...

[2018-11-01 15:36] #19 closed

[2018-12-11 16:10] rawkintrevo opened #20 "SignatureDoesNotMatch on Object.put only."
UPDATE:
[code]

I'm trying to do a thing, but hitting an issue when writing data to IBM COS (S3)

This code
[code]

yields this result:

[code]

Have been googling for an hour but can't seem to make anything work- have tried new creds, have used "reader" "writer" and "manager" creds, none work. Can't seem to get it- pls help!

[2018-12-12 13:21] rawkintrevo commented on #20
Ahh- that does work.  At a minimum I think someone (maybe me?) needs to update this:
https://console.bluemix.net/docs/services/cloud-object-storage/libraries/python.html#using-python

[2018-12-13 14:53] rawkintrevo commented on #20
Yea- updating docs would be my only comment, but I'm closing issue now.

[2018-12-13 14:53] #20 closed

[2018-12-31 16:19] maxcaibm opened #21 "README.md client configuration sample out of sync with SoftLayer docs."
The configuration instructions are out of date with those provided here: https://console.bluemix.net/docs/services/cloud-object-storage/libraries/python.html#using-python

Here is the SoftLayer docs:
[code]
The above instructions more closely match what the user has to do, especially since the fields are named slightly differently.

[2019-01-02 13:22] barry-hueston-IBM commented on #21
Hi @maxcaibm, we will review the documentation and provide an update shortly.

Thanks Barry

[2019-01-10 13:10] maxcaibm commented on #21
Thank you for the update!

Max

Sent from my iPhone

[2019-02-04 14:28] paul-carron commented on #21
@maxcaibm the README was updated in the last patch release.

It now contains URL's to the relevant code examples.

[2019-02-04 14:28] #21 closed

[2019-02-12 04:07] vmorris opened #22 "ValueError: Invalid endpoint: s3.us-east.cloud-object-storage.appdomain.cloud"
version: ibm_cos_sdk-2.4.3

I'm following the documentation here: https://console.bluemix.net/docs/services/cloud-object-storage/libraries/python.html#init-config

Attempting to create an ibm_boto3.client results in the following trace:

[code]

Digging into `ibm_botocore/endpoint.py`, I see the call to `is_valid_endpoint_url` here:
https://github.com/IBM/ibm-cos-sdk-python-core/blob/master/ibm_bo

[2019-02-12 04:09] vmorris commented on #22
eeeh, I just read the docstring:

[code]

Disregard please! This appears to be working okay after adding `https://` to the endpoint.

[2019-02-12 04:09] #22 closed

[2019-03-15 15:16] gamcoh opened #23 "AttributeError: 'Config' object has no attribute 'inject_host_prefix'"
I'm trying to execute this [script](https://github.com/gamcoh/Xml2Json/blob/master/upload2bucket.py) but i get this error :

[code]

My env:
[code]

[2019-03-15 15:58] gamcoh commented on #23
Apparently the versions need to be:
[code]

[2019-03-15 15:58] #23 closed

[2019-04-08 21:35] fe01134 commented on #3
This would be useful to have so that I can run my Watson Studio Juptyer notebooks locally before I deploy them to the cloud.  I would like to still reference the Object storage to get access to the data.    This is really important to have a standalone local development environment to make it faster and more efficient to develop Jupyter notebooks before publishing them to Watson Studio.  Can you p

[2019-04-08 22:12] aa7955 commented on #3
@fe01134 So, you're installing it wrong that's why. You're not supposed to install `awscli` since this is not an AWS product. You have to use `ibm_boto3` and install that with `pip install ibm-cos-sdk`.

[2019-07-24 19:34] neumannrf opened #24 "Unable to locate credentials retrieved by `ibmcloud`"
For an enhanced user experience, the `ibmcloud` command-line tool and `ibm-cos-sdk` Python library should be seamlessly interoperable.

If the service credentials are retrieved using
[code]

The resource creation command gives a `ConfigParseError`:
[code]

That happens because the JSON object written by `ibmcloud` is a **list** with only one JSON object, while `ibm-cos-sdk` is expecting a **dictio

[2019-07-26 12:47] stephenskinner commented on #24
Thanks for taking the time to raise this ticket and provide a detailed explanation.
I've spoken with the SDK architects, we've added this enhancement to the list of items to be considered in the next major version release.
If you are happy with this resolution please close the ticket, otherwise please let me know any further questions/issues you have.

[2019-07-26 15:14] neumannrf commented on #24
Thanks @stephenskinner for the feedback!

[2019-07-26 15:14] #24 closed

[2019-08-12 01:41] scottdickerson opened #25 "security: ibm-cos-sdk app scan violation in the packaged urllib"
The packaged version of urllib3 and sessions has a security violation, please upgrade them in the latest cos-sdk

Found in 2.5.2 version of ibm-cos-sdk library:

/Users/scottsd/Documents/GitHub/analytics-service-library/env/lib/python3.7/site-packages/ibm_botocore/vendored/requests/packages/urllib3/util/retry.py

![image](https://user-images.githubusercontent.com/6663002/62842487-3ef74280-bc78-11e

[2019-08-12 14:21] paul-carron commented on #25
Internal reference: CSAFE-58815

[2019-09-10 05:06] gilv opened #26 "IndexError: tuple index out of range"
Any ideas what might be causing this and how to resolve this?

[code]

[2019-09-10 14:28] cpcunningham commented on #26
Hi @gilv what is the command you are running..
can you paste a snippet of code...

[2019-09-25 13:53] mathieu-holl-ibm commented on #26
@gilv any update on this ?

[2019-09-25 15:12] cpcunningham commented on #26
user is unable to reproduce issue - so will close

[2019-09-26 14:21] harshit777 opened #27 "ibm_botocore.exceptions.ClientError: An error occurred (AccessDenied) when calling the ListBuckets operation: Access Denied"
ibm_botocore.exceptions.ClientError: An error occurred (AccessDenied) when calling the ListBuckets operation: Access Denied

Getting this issue since last two days, checked the credentials and all the keys. Not able to find the error.

[2019-09-27 08:50] paul-carron commented on #27
@harshit777 How are you authenticating? Is ListBuckets the only operation that causes that error? If it previously worked has anything changed in your code or on the bucket?

[2019-09-27 15:33] #26 closed

[2019-09-30 14:19] paul-carron commented on #25
@scottdickerson this is now fixed in release 2.5.4.

[2019-09-30 14:19] paul-carron commented on #25
#close

[2019-09-30 20:54] gabrieldrs opened #28 "ModuleNotFoundError: No module named 'requests' after latest release"
It looks like the latest release is causing the following error to occur at runtime after a fresh pip install:

[code]

[2019-10-01 08:25] cpcunningham commented on #28
Hi @gabrieldrs - can you give us some details
1) 3.7.0 --- is this the version of python you are using
2) pip install ibm-cos-sdk -- is this how you installed it
3) had you a previous version of the sdk installed

[2019-10-01 08:50] gabrieldrs commented on #28
Hey, I'm using python 3.7, I installed it with `pip install ibm-cos-sdk==2.5.2`, and that was the version I wa previously using, but it looks like that during setup, ibm-cos-sdk requires ibm-cos-sdk-core>2.0.0 (https://github.com/IBM/ibm-cos-sdk-python/blob/master/setup.py#L18) so I end up receiving the latest core release, even though I'm specifyin version 2.5.2

I took a look at the latest relea

[2019-10-01 09:13] cpcunningham commented on #28
Thx for the details..
prior to release 2.5.4 - the sdk used the internal vendored/requests
from 2.5.4 - the sdk uses the external requests package

can you install the latest version
pip install ibm-cos-sdk==2.5.4 - this should install the requests package

We will review our setup dependencies in our month end patch release..

[2019-10-01 10:58] gabrieldrs commented on #28
I've just tried installing the latest release, and the problem persists. In order to replicate:

1. create a clean virtualenv with python 3.7.0
2. run `pip install ibm-cos-sdk`
3. run `python -m ibm_boto3`

I really think that the problem is that ibm-cos-sdk-oythin-core is missing the required dependency in its setup script, since the internal was removed, the external should be added to the requi

[2019-10-01 13:44] cpcunningham commented on #28
thx @gabrieldrs - we will add this to our pypi release at the end of month - in mean time can you install requests manually. we will update our tests to catch this issue...

[2019-10-01 14:37] gabrieldrs commented on #28
I can, it's just a bit of a hassle to change all of our (10+) microservices devOps process to have this patch until it's officially fixed, and then, once it's fixed, I will have to go back and undo the fix on all of these projects. Would be nice if a hotfix could come from the official repository sooner so I wouldn't need to change every container which depends on this library...

[2019-10-03 15:09] #25 closed

[2019-10-07 14:20] paul-carron commented on #27
@harshit777 Is this still an issue?

[2019-10-07 14:25] harshit777 commented on #27
@paul-carron issue has been resolved as there were some unresolved issues, I recreated the credentials and it worked fine

[2019-10-07 14:27] paul-carron commented on #27
Thanks @harshit777

#closed

[2019-10-08 14:12] thevicross opened #29 "Can't Install Aspera Python Package cos-aspera"
Receiving error attempting to install package:

sudo pip3 install cos-aspera
Collecting cos-aspera
  Could not find a version that satisfies the requirement cos-aspera (from versions: )
No matching distribution found for cos-aspera

Using Windows 10 WLS Ubuntu 18.0.4 and Python3.7

[2019-10-09 13:53] thevicross commented on #29
So, Python 3.6.8 is not supported yet either?

[2019-10-16 08:10] paul-carron commented on #27
@harshit777 can you please close this ticket?

[2019-10-17 15:42] #27 closed

[2019-10-21 11:30] cpcunningham commented on #29
aspera is supported on python 3.6.x

[2019-10-21 14:05] mathieu-holl-ibm commented on #29
@thevicross if there's anything else you need, let us know, otherwise, we'll close this ticket.

[2019-10-21 14:23] thevicross commented on #29
Thanks, please close.

[2019-10-21 14:26] #29 closed

[2019-11-01 16:51] cpcunningham commented on #28
@gabrieldrs  - Sorry for the delay - this issue has now been fixed in release 2.5.5

[2019-11-01 16:53] #28 closed

[2020-01-29 14:24] shobhit0511 opened #30 "Can't Install Aspera Python Package cos-aspera on power machines"
Receiving error attempting to install package:

sudo pip install cos-aspera
Collecting cos-aspera
Could not find a version that satisfies the requirement cos-aspera (from versions: )
No matching distribution found for cos-aspera

ENV :
RHEL 7.6 UBI image
Python 2.7 & Python 3.6

[2020-01-29 14:54] wbhuberIBM commented on #30
@shobhit0511 -

Python 2.7 is no longer supported ([retired](https://www.python.org/dev/peps/pep-0373/)).  Can you do a ```python --version``` to indicate which minor version of python you are running for 3.6?  Could you also try checking if ```pip3``` works for you?

[2020-01-29 16:03] shobhit0511 commented on #30
@wbhuberIBM python 3.6.8

[2020-01-29 16:16] wbhuberIBM commented on #30
@shobhit0511, after digging up some more, ```cos-aspera``` is not supported on RHEL, only ubuntu, see the following supported platforms:
https://cloud.ibm.com/docs/services/cloud-object-storage?topic=cloud-object-storage-aspera#aspera-sdk-platforms

Can you switch over to use ubuntu?

[2020-01-29 16:46] shobhit0511 commented on #30
@wbhuberIBM we are getting error for python not for OS packages :

File "/usr/lib/python2.7/site-packages/ibm_s3transfer/aspera/manager.py", line 36, in <module>
    from ibm_s3transfer.aspera.futures import AsperaTransferCoordinator
  File "/usr/lib/python2.7/site-packages/ibm_s3transfer/aspera/futures.py", line 29, in <module>
    raise ImportError("Aspera SDK not installed")
ImportError: Aspera

[2020-01-29 16:48] shobhit0511 commented on #30
on py-pi repo this package is available only for :
<img width="1242" alt="image" src="https://user-images.githubusercontent.com/10229426/73377564-3f969a80-42e5-11ea-8fdd-0a29ff4ff873.png">

[2020-01-29 16:48] shobhit0511 commented on #30
I need it for ppc64le too.

[2020-02-01 22:15] powellquiring opened #31 "DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc'"
Running pytest for some code generated the following output.  Let me know if you need a more specific testcase, it looks pretty straightforward
[code]

[2020-02-04 06:20] gilv opened #32 "timeout error reported on client disconnect - retry doesn't work"
From time to time, on random basis,  we manage to hit  "timeout on reading" from COS while reading data in many parallel threads. Working with COS team it was identified that the real cause of the problem is "client disconnect", then sdk halts till timeout happens and report timeout error instead of client disconnect error.

We tried to experiment with all kind of retry parameters in cos-sdk howev

[2020-02-04 19:23] wbhuberIBM commented on #30
@shobhit0511 -
The COS SDK (the repo that is based here) uses Aspera libraries (```cos-aspera```) underneath that are platform dependent and that the Aspera libraries currently do not have support for the platform of interest.  We will bring this up with the Aspera team and get back to you.

To track this internally: CSAFE-66078

[2020-02-04 20:39] powellquiring commented on #31
Try these instructions:
[code]

[2020-02-04 20:59] wbhuberIBM commented on #31
@powellquiring - thanks for bringing this up.  We will supply updates in the next patch release.

For internally tracking: CSAFE-66085

[2020-02-06 22:18] jmbuiles opened #33 "Always get 404 Error with samples"
CLIENT ERROR: An error occurred (404) when calling the ListObjects operation: Not Found

get_bucket_contents method

All parameters are configured according to the docs and there are no authentication errors.

[2020-02-06 23:20] wbhuberIBM commented on #33
@jmbuiles - can you share the client creation code here?  What python version and COS SDK version are you running?  What platform?

[2020-02-08 05:49] gilv commented on #32
just to be sure there is no confusion here #267 is not related

[2020-02-10 15:28] cloudpitchford commented on #33
I'll look for comments and replies here…

[2020-02-17 20:59] rtveitch commented on #32
After looking into this a bit, the following line in the `StreamingBody` class appears to be where this exception is getting thrown: https://github.com/IBM/ibm-cos-sdk-python-core/blob/master/ibm_botocore/response.py#L79
[code]
It's not clear to me how we would improve on this in the case of a basic `get_object` call on the underlying S3 client - `StreamingBody` is essentially a thin wrapper over

[2020-02-19 20:23] synergit opened #34 "Improve document and env. setup process of the error caused by missing `coverage` module"
nose.plugins.cover: ERROR: Coverage not available: unable to import coverage module

Fix: need install coverage `pip install coverage` because coverage plugin depends on separate coverage module, which is not a nose's dependency https://stackoverflow.com/a/14488761

Please improve document and env. setup process.

[2020-02-19 20:25] synergit commented on #34
Looks like `python scripts/ci/install` takes care of the `coverage` installation.

It is up to you if you want to close the ticket. Thank you.

[2020-02-19 23:49] wbhuberIBM commented on #33
Closing this issue since we have not yet gotten replies from @jmbuiles for two weeks.

[2020-02-19 23:49] #33 closed

[2020-02-19 23:57] wbhuberIBM commented on #34
@synergit - yes, in order to run ```scripts/ci/run-tests```, you'd need to run the ```python scripts/ci/install``` that would then install the ```coverage``` package.  Thanks.

[2020-02-19 23:57] #34 closed

[2020-02-24 17:51] rtveitch commented on #32
Based on internal discussion we think that this timeout error and associated enhancements are no longer in scope for the SDK:

1. The SDK provides methods that are basically wrappers for base API (for e.g. a method to call PUT Object), and methods that support higher level logic to accomplish higher level tasks that underneath use wrappers and API (for e.g. transfer manager)

2. The base wrapper A

[2020-02-24 17:51] #32 closed

[2020-04-15 15:22] IBMeric commented on #31
Version 2.6.2 is now available that includes an upstream fix. If the problem has been resolved, please close this issue. Thanks!

[2020-04-22 16:11] rtveitch commented on #31
Closing this. Let us know if it's still a problem, thanks.

[2020-04-22 16:11] #31 closed

[2020-04-22 17:18] Shiven004 commented on #3
Thanks!!!!  pip install ibm-cos-sdk workded for me!!!

[2020-07-06 14:14] rtveitch commented on #30
Closing this ticket for now; power architecture is on the backlog but there is currently no planned support for this platform.

[2020-07-06 14:14] #30 closed

[2020-07-23 07:02] tbrodbeck opened #35 "ConnectTimeoutError with "https://s3.private.eu-de.cloud-object-storage.appdomain.cloud/" on my local device"
Hi! I am able to access my COS with this command in Watson Studio.
[code]
However when I try to connect to it from my local device I get
```ConnectTimeoutError: Connect timeout on endpoint URL: "https://s3.private.eu-de.cloud-object-storage.appdomain.cloud/"```
Can you tell me why this happens (locally only)? What could I look into?

[2020-08-03 14:30] nglange commented on #35
@tbrodbeck Thanks for your patience here - if you haven't figured it out, the reason you can't connect from your local machine is that the private endpoint is restricted to access from within the IBM Cloud.  So that value for `service_endpoint` will work from Watson Studio, or an application running in a container, VM, or other IBM Cloud computing resource.  Your sample above will work fine if you

[2020-08-04 08:12] tbrodbeck commented on #35
Thank you so much!

[2020-08-04 08:12] #35 closed

[2020-08-21 15:24] balajikadambi opened #36 "Error when creating bucket with encryption"
Hi, I tried to create a bucket with encryption using the Python SDK. I get the below error:
Creating new encrypted bucket: mybucket1
CLIENT ERROR: An error occurred (InvalidArgument) when calling the CreateBucket operation: The resource type is missing or the specified value is not valid. Supported value: "key".

I used the below configuration.
Constants for IBM COS values
COS_ENDPOINT = "https://

[2020-09-02 05:01] balajikadambi commented on #36
The endpoint was wrong. When I changed it to https://s3.us-south.cloud-object-storage.appdomain.cloud, it worked.

[2020-09-02 05:01] #36 closed

[2020-09-24 00:10] jaymindesai opened #37 "Unable to download files from COS when root logger set to DEBUG"
When root logger is set to level `DEBUG`, I'm unable to download the file from COS. The `download_file` call as mentioned below goes into infinite wait stage..
[code]
The last logs I see before the code enters wait state are
[code]
If I terminate the process using a keyboard interrupt, I see the following trace
[code]
 This is how my current log config looks like
[code]

If I change the level of `

[2020-09-24 00:17] jaymindesai commented on #37
We need `DEBUG` logs and this is how I'm working around the issue for now:
[code]

[2020-09-29 19:44] IBMeric commented on #37
Thank you for your message. I created a test script using your two lines of code and version 2.7.0 of the SDK. I am able to use `download_file` with debug logging enabled and cannot reproduce the behavior you observe. The two log messages you cited are the beginning and end of the transfer. There should be execution messages in between. I saw two sets of those in my output, one nested inside the o

[2020-10-08 14:57] IBMeric commented on #37
@jaymindesai Could you provide an update if you are still having trouble or close the ticket if the problem has been resolved?

[2020-10-08 18:44] jaymindesai commented on #37
@IBMeric Sorry about that! I will try to reproduce this issue and get back to you soon.

[2020-10-23 14:19] vmorris opened #38 "HTTP 400 Status Code and Error when listing buckets"
When attempting to list all the buckets in my COS instance (there is only one), I am getting an error:

`ibm_botocore.exceptions.ClientError: An error occurred (InvalidArgument) when calling the ListBuckets operation: Invalid Argument`

[code]

I instantiate a client and attempt to use it:
[code]

Attempting to list the objects inside the known bucket does work.
Example (working) snippet:
[code]

[2020-10-23 14:22] vmorris commented on #38
Setting a breakpoint with `pdb` and inspecting the HTTP response, I find:

[code]

[2020-10-23 14:30] vmorris commented on #38
And, just a bit more info about the request:
[code]

[2020-10-23 19:26] IBMeric commented on #38
Thank you for your question. Your `ibm_service_instance_id` is incorrect. From the log, you are using the CRN of the bucket, not of the service instance. If you remove `:bucket:myjunk` that should work. You also should be able to use your service ID directly (the GUID segment). An example of service credentials can be found in the documentation here: https://cloud.ibm.com/docs/cloud-object-storage

[2020-10-23 19:27] IBMeric commented on #37
Closing this ticket because of inactivity. If you continue to have a problem, please reopen.

[2020-10-23 19:27] #37 closed

[2020-10-26 15:38] vmorris commented on #38
Thank you @IBMeric , that was exactly the problem. Cheers.

[2020-10-26 15:38] #38 closed

[2020-10-27 04:44] gilv opened #39 "Python 3.8.5 on mac with cos-sdk 2.7.0"
I am not sure what causes this, but somehow i fail to work with COS SDK on mac with Python 3.8.5
All is working with Python 3.7.5 for example

Getting

[code]

[2020-10-27 17:28] #39 closed

[2020-11-07 23:43] powellquiring opened #40 "python 3.9 - ModuleNotFoundError: No module named 'xml.etree.cElementTree'"
[code]

python 3.8.2 all is good:
[code]

[2020-11-09 16:27] IBMeric commented on #40
Thank you for your finding, but we do not support pre-release versions of Python. The release version of 3.9.0 does not have this problem. Please note that https://github.com/IBM/ibm-cos-sdk-python-core/issues/10 has not been resolved but will be in a future release.

If this solves your problem, please mark the ticket closed.

[2020-11-09 19:13] powellquiring commented on #40
You are right!  Thanks.

[2020-11-09 19:13] #40 closed

[2020-11-25 15:09] Timothy-Dement opened #41 "Python 3.9.0 - 'Thread' object has no attribute 'isAlive'"
# Versions

[code]
[code]
[code]

# Error

[code]

# Likely Cause

It seems that in `Python 3.9.0` the `isAlive` method was renamed `is_alive`:

- https://github.com/Azure/azure-cli/issues/15441#issuecomment-705400107
- https://github.com/micheles/decorator/issues/75

[2020-11-30 19:31] IBMeric commented on #41
Thank you for your comment. We are aware of this change, which we are targeting for our next release.

This is a duplicate of https://github.com/IBM/ibm-cos-sdk-python-core/issues/10.

[2020-12-16 22:37] IBMeric commented on #41
This has been resolved in the 2.9.0 release. Please verify and then close this ticket.

[2021-01-04 16:05] #41 closed

[2021-05-18 16:36] L3XANDR0 opened #42 "Client Instantiation Fails - InvalidRegionError"
I attempted to run the IBM COS Python SDK example here: https://cloud.ibm.com/docs/cloud-object-storage?topic=cloud-object-storage-sdk-gs

The sample code is failing when ibm_boto3.client() is called.
[code]

The relevant code, withouth API key and service crn.
[code]

I'm using Python version: 3.8.3, with the following modules.
[code]

[2021-05-18 17:32] nglange commented on #42
Thanks for the report - that seems to be very strange. I wonder if there's some crosstalk happening between the vanilla `boto3` library and the IBM fork. I'll poke around and see if I can figure out where the `US_WEST_1` is coming from. All the code you show looks perfectly correct.

[2021-07-28 22:19] powellquiring opened #43 "Using legacy 'setup.py install' for ibm-cos-sdk, since package 'wheel' is not installed."
Notices about legacy wheel indicate that this package is out of date.  Is this package being maintained?

[code]

[2021-07-29 16:21] IBMeric commented on #43
This package is still maintained and `wheel` is in `requirements.txt`. We will look into this further.

[2021-07-30 06:19] kundanone commented on #42
I also faced the same issue, and I have a workaround:
I can see that the root cause is its validator method:
link: https://github.com/IBM/ibm-cos-sdk-python-core/blob/18e8a854a2a4fdca7fbb50d5b80fb666734def1f/ibm_botocore/utils.py#L1004

`def validate_region_name(region_name):
    """Provided region_name must be a valid host label."""
    if region_name is None:
        return
    valid_host_label

[2021-08-10 21:00] IBMeric commented on #43
The `Using legacy 'setup.py install'` messages appear to be from newer versions of `pip` that expects client environments to have the `wheel` package installed. Running `pip install wheel` in your virtual environment should resolve this issue. Upstream is also affected with these warnings despite providing `whl` files. We have also opened an internal ticket to track this behavior.

If this resolve

[2021-08-11 20:49] L3XANDR0 commented on #42
@nglange Any movement on this?

[2021-08-17 20:59] IBMeric commented on #43
Closing as resolved.

[2021-08-17 20:59] #43 closed

[2021-09-09 18:37] powellquiring opened #44 "ibm-cos-sdk-python readme link is broken"
![image](https://user-images.githubusercontent.com/6932057/132743302-27126213-a430-4172-b204-d7321ca024ff.png)

I'm having trouble getting started...

The link for using python is https://cloud.ibm.com/docs/services/cloud-object-storage/libraries/python.html#using-python
maybe it should be https://cloud.ibm.com/docs/cloud-object-storage?topic=cloud-object-storage-python

[2021-09-09 19:50] powellquiring opened #45 "ibm-cos-sdk-python cos_credentials file not working as described in README"
[code]

Code:
[code]

Exception:
[code]

[2021-09-10 13:33] IBMeric commented on #44
Thank you for this report. The readme link you cited is not broken but for me took additional to load. However, I agree the second link is more suitable, and we will make an update when we publish our next release.

[2021-09-29 16:21] IBMeric commented on #45
We have someone who will look into this and get back to you.

[2021-10-04 16:26] IBMeric commented on #45
The readme is out of sync with the official documentation here: https://cloud.ibm.com/docs/cloud-object-storage?topic=cloud-object-storage-python#python-credentials. We will update this.

[2021-11-09 20:39] IBMeric commented on #44
We have resolved this issue with the release of 2.11.0. Can you verify and close this ticket?

[2021-11-09 20:39] IBMeric commented on #45
We have resolved this issue with the release of 2.11.0. Can you verify and close this ticket?

[2021-11-13 17:59] powellquiring commented on #45
In the readme:

![image](https://user-images.githubusercontent.com/6932057/141654138-eff5e8ba-f4e7-4de5-b730-1735413a28f2.png)

This did not get me to anything useful https://cloud.ibm.com/docs/services/cloud-object-storage/iam/service-credentials.html

[2021-11-15 21:48] pjamison-coursera commented on #45
I am having a similar issue, just installed 2.11.0 today.  Here is the function which seems to be causing the issue

[2021-11-16 15:36] IBMeric commented on #45
Thanks for pointing this out. The COS documentation is going through an overhaul, and that seems to be affecting our readme. I'm going to have an internal discussion to see how to more permanently fix these discrepancies.

[2021-12-30 20:23] L3XANDR0 commented on #42
I continue to hit this issue.

[2022-01-04 18:20] IBMeric commented on #42
@nglange Could you look at this again?

[2022-01-25 16:50] IBMeric commented on #44
Closing this ticket as resolved.

[2022-01-25 16:50] #44 closed

[2022-01-31 14:00] roryodonnell opened #47 "'NoneType' object has no attribute 'token'"
Hitting an auth issue whilst checking for a COS bucket - I'm unsure if it's a self inflicted issue or not - please feel free to close if not due to COS SDK
[code]

[2022-01-31 14:01] roryodonnell commented on #47
@IBMeric - any insight would be greatly appriciated

[2022-02-01 10:59] roryodonnell commented on #47
Must have been something to do with connection properties / service availability - seems all good now

[2022-03-30 17:25] roryodonnell commented on #47
We never seemed to discover the original cause and now we are experiencing it again.  It would be great if the sdk could provide further information why the `credentials.token` is not populated

[2022-04-01 12:24] roryodonnell commented on #47
Ok have finally discovered the cause.  Our COS API key was not being seeding correctly from vault and thus was using an empty string when trying to connect.

[2022-04-01 12:24] #47 closed

[2022-07-26 09:38] nigzak opened #48 "pip install not possible - version conflict on jmespath // DOCUMENTATION IN GIT NOK (?)"
[code]

[2022-07-26 13:10] nigzak commented on #48
looking to official IBM documentation pip install with cloning seems not to be required
https://cloud.ibm.com/docs/cloud-object-storage?topic=cloud-object-storage-python

use instead:

[code]

with this it works
=> official git documentation still is not good and not working and should be fixed

[2022-08-28 16:59] abgutierrez opened #49 "cos_aspera for m1 is not available"
I'm trying to use cos_aspera on Apple M1 Pro running python 3.6.4. I was reading [this issue](https://github.com/IBM/ibm-cos-sdk-python/issues/30) and found that [cos-aspera maven repository ](https://mvnrepository.com/artifact/com.ibm.cos-aspera) doesn't distinguish between m1 and intel, but you can see on [pipy repository that mac versions are intel only](https://pypi.org/project/cos-aspera/#fil

[2022-08-29 17:27] IBM-diksha commented on #49
I have used cos-aspera python  library on an intel machine running python 3.6.6. For m1 pro  or ppc64le we are looking into it and we will get back to you.

 Meanwhile can you please elaborate on your use case here? and also can you please tell me what exactly you have tried ?If there is any  code snippet that you can share?

[2022-08-29 18:53] abgutierrez commented on #49
Hi @IBM-diksha,

Thanks for the quick response. I am working on a desktop application that is able to interact with Aspera services using the fasp2 protocol. Our team implemented a containerized web version of it months ago. This container has python 3.6.4, ibm-cos-SDK python library (which uses cos-aspera), and the asperatransferd daemon. The original frontend used is going to be reimplemented in

[2022-08-29 19:06] abgutierrez commented on #49
I forgot to append build output:

[code]

requirements.txt:

[code]

[2022-09-01 07:26] IBM-diksha commented on #49
@abgutierrez ,
Support for Aspera in the COS SDKs is currently "legacy": https://github.com/IBM/ibm-cos-sdk-python#legacy-aspera-high-speed-transfer . The  aspera team stopped supporting that plugin so it is very unlikely that it would work. So I would suggest you to use Aspera Transfer SDK. you can refer the following:
https://developer.ibm.com/apis/catalog/aspera--aspera-transfer-sdk/Introductio

[2022-09-02 04:15] abgutierrez commented on #49
I understand, thanks for the information.
This part of the project was not developed by me, sorry for so much confusion. I removed cos-aspera from requirements.txt and the build success. Now testing the app I found the following error on the logs related to the package `ibm_s3transfer.aspera.manager`  :

[code]
In my case, I want to use ibm-cos-sdk just only to list buckets and objects, so `ibm_bo

[2022-09-02 11:45] IBM-diksha commented on #49
@abgutierrez
If your requirement is to list buckets and objects you can use ibm-cos-sdk-python there is no dependency on cos-aspera  or ibm_s3transfer.aspera.manager for that. You can refer to the following :
https://cloud.ibm.com/docs/cloud-object-storage?topic=cloud-object-storage-python#python-examples-list-objects
https://cloud.ibm.com/docs/cloud-object-storage?topic=cloud-object-storage-pytho

[2022-09-06 16:45] abgutierrez commented on #49
Hi @IBM-diksha ,

Thanks to much for all information, I solved my issue by removing all references to both dependencies (`cos-aspera` in requirements.txt and `ibm_s3transfer.aspera.manager` in python implementation for fasp transfer) for now using Aspera Transfer SDK. I'll close this issue.

[2022-09-06 16:45] #49 closed

[2022-09-23 14:35] kevmb99 opened #50 "Unable to Install ibm_boto3 package"
Using pip install ibm-cos-sdk, I am able to install all necessary packages except ibm_boto3. The original boto3 package is installed, but I've tried cloning the github and running setup.py as well, and unfortunately nothing is working to install it. Any help would be appreciated, thanks!

[2022-09-23 15:50] kevmb99 commented on #50
Update: Since the file was installed on my computer, but not accessible through an import statement, I was able to work around the issue by using sys.path with the file location:

import sys
path =  '/Users/*****/opt/anaconda3/lib/python3.9/site-packages/ibm_cos_sdk-2.12.0-py3.9.egg'
sys.path.insert(0, path)

Then I could import ibm_boto3 without issue, I'd love to solve this problem without havin

[2022-09-26 10:06] arnabm28 commented on #50
@kevmb99

As part of the pip install of Ibm-cos-sdk ```pip install ibm-cos-sdk``` boto core packages should be installed automatically.
[code]

Following files and folders should be installed in the site-packages folder once the pip install command is executed for Ibm-cos-sdk.

Once you have this you should be able to do the following imports
[code]

Now coming back to the issue, I have few questi

[2022-09-26 17:42] arnabm28 commented on #50
@kevmb99 thank you for the info. Can you please also provide the other information asked for. That will help us narrow down the problem in here.

Thanks

[2022-10-18 07:05] arnabm28 commented on #50
@kevmb99 Do you have an update on this.
Are you still seeing the issue?

In case the installation problem is resolved please close on the issue. In case the issue persists, could you provide the other details.

Thanks

[2022-10-26 11:16] gilv opened #51 "get_credentials generates exception"
The following code

`import ibm_boto3

if __name__ == '__main__':
    session = ibm_boto3.Session()
    credentials_session = session.get_credentials()
`

Generates

Traceback (most recent call last):
  File "/Users/aa/Dev/sky/examples/general/pytest1.py", line 5, in <module>
    credentials_session = session.get_credentials()
  File "/Users/aa/.pyenv/versions/3.9.1/lib/python3.9/site-packages/ibm

[2022-10-26 11:17] gilv commented on #51
What location it looks for configuration file?

[2022-10-26 11:36] IBMalok commented on #51
@gilv - configuration location will be - `~/.bluemix/cos_credentials`
For more details, you can refer - [https://cloud.ibm.com/docs/cloud-object-storage?topic=cloud-object-storage-python#python-credentials](url)

[2022-10-26 12:02] gilv commented on #51
@IBMalok then why it fails? I have this file there with

[default]
aws_access_key_id = aa
aws_secret_access_key = bb

[2022-10-26 12:03] gilv commented on #51
@IBMalok by the way, ibmcloud cos plugin, will create configuration file in
~/.bluemix/plugins/cloud-object-storage/config.json

[2022-10-26 12:12] gilv commented on #51
@IBMalok If I take aws config from ~/.aws that works with boto3 and copy-paste it as ~/.bluemix/cos_credentials then it will also fails with ibm_boto3

[2022-10-27 11:10] pavelexpertov commented on #51
Try exporting `COS_CREDENTIALS_FILE=~/.bluemix/cos_credential` as an environment variable (point it to a different path if you must) before running your code. Whilst debugging, it seems to make the botocore pick up the config file. Despite the fact it is a default value for config file location in the first place.

[2022-10-27 11:35] gilv commented on #51
@pavelexpertov same stuff...I take valid ~/aws/credentials that works with boto3, copy paste it into ~/.bluemix/cos_credentials and read it with ibm_boto3 (setup the env variable as you suggested ) and getting
`  File "/Users/gilvernik/.pyenv/versions/3.9.1/lib/python3.9/site-packages/ibm_botocore/credentials.py", line 2260, in get_data
    return json.load(f)
  File "/Users/gilvernik/.pyenv/versi

[2022-10-27 11:39] gilv commented on #51
@pavelexpertov I also want to add iam key to the properties file, is this correct?
[default]
aws_access_key_id = aa
aws_secret_access_key = bb
ibm_api_key_id = cc

[2022-10-27 11:49] pavelexpertov commented on #51
No. cos_credentials file has to be in a json format (as indicated in the json decode error). Try exporting the environment variable of `AWS_CONFIG_FILE` and point it to the aws file. As for how the config should look like, you should refer it to the docs, because I haven't used it for my use case.

[2022-10-27 11:52] gilv commented on #51
@pavelexpertov thanks, but I am not sure I understand. My cos_credentials is wrong? If I follow https://cloud.ibm.com/docs/cloud-object-storage?topic=cloud-object-storage-python then it suppose to be the same as I am using.

[2022-10-27 11:57] pavelexpertov commented on #51
Read carefully: "If the *cos_credentials* file contains HMAC keys the client authenticates with a signature, otherwise the client uses the provided API key to authenticate by using a bearer token (using an API key still requires the config=Config(signature_version="oauth") to be included during client creation)."

It shows example of aws config file, but not this one (when you generate credentials

[2022-10-27 12:01] pavelexpertov commented on #51
@IBMalok honestly, somebody whose responsibility to write documentation for authentication files (including the json credentials that get generated from the ibm cloud dashboard) should re-write this to increase examples of configuration files and the fact that they should export environment variables to get the library to work.

[2022-10-27 13:09] gilv commented on #51
@pavelexpertov @IBMalok
thanks

[2022-11-01 02:20] KyungmoIBM opened #52 "COS Python SDK (ibm_boto3_core) memory leak"
A customer reported a long running python application that uses ibm_boto3_core that the application is leaking threads / memory.  Cusomer traced the issue to ibm_boto3_core.   The below code illustrates the leak.  Each iteration of the for loop leaks a thread at:

[code]

When s3_client goes out of scope, the DefaultTokenManager's background_refresher thread stays alive.

I also notice that ibm_bo

[2022-11-01 02:28] KyungmoIBM commented on #52
I also test the code with Python 3.9.14 with ibm-cos-sdk-for-python latest version(2.12.0) and saw same result.

[code]
---
Output
[code]

[2022-11-02 19:42] arnabm28 commented on #52
@KyungmoIBM

Can we have a bit more details on what exactly the thread is doing in this case. Breaking down the sample code I can see that after the credentials are been read and client is created, the tread begins to execute.

It is this statement ```traceback.format_stack(sys._current_frames()[th.ident])``` thats throws the error which we see in every iteration. Could you helps us here in order

[2022-11-03 20:01] arnabm28 commented on #52
There are few more findings from our end.
The above pointed file (credentials.py) from ibm_botocore is used when generating token. If a generated token expired and new token is generated without waiting the token to expire then background token-refresh-thread will not finish processing it.

For Example :

[code]

This is example of a method that can be used after a token is expired.

However in th